
*{
    margin: 0;
    padding: 0; 
}
html{
    background-color: #C0C0C0;
    font-family: Verdana, sans-serif;
}
.containerPrincipal{
    background-color: #696969;
    border: solid 3px #696969;
    border-top: 0;
    width: 1450px;
    margin-top: 0;
    margin: auto;
    height: 100%;
}

 /****************** CSS Menu ******************************/

.contemMenu{
    padding-top: 0%;
    height: 40px;
    background-color: #800080;
    width: 100%;
    padding: 0px;
}
.contemMenu ul{
    list-style: none;
    position: relative;
    /*padding: 15px;*/
    height: 40px;
    margin: 0px;
}
.contemMenu ul li{
    width: 200px;
    float: left;
    height: 40px;
}
.contemMenu a{
    /*padding: 15px;*/
    display: block;
    text-decoration: none;
    text-align: center;  /*Alinhar o text quanto a margem lateral*/
    background-color: #800080;
    color: #fff;
    height: 40px;
    line-height: 40px; /*Alinhar o text quanto a margem superior*/
}
.contemMenu ul ul{
    position: absolute;
    visibility: hidden;
}
.contemMenu ul li:hover ul{
    visibility: visible;
}
.contemMenu a:hover{
    background-color: #C0C0C0;
}
.contemMenu ul ul li{
    float: none;
    border-bottom: solid 1px #800080;
}

/********************** FIM CSS Menu ************************************/


