@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html body {
    background-color: #E0FFFF;
    /* #603494 Roxo do logo da DXC*/
    font-family: Verdana, sans-serif;
    width: 100%;
}

/************************************** Inicio CSS Menu ************************************************/







/************************************** Fim CSS Menu ************************************************/

#dxc-container-centro {
    padding: 0 1%;
    align-items: center;
    justify-content: center;
}

.dxc-card-left {
    background-color: #B0C4DE; /* #8a2be2*/
    /*background-image: url(../imagem/1623243631355.jpg);  */
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
    position: relative;
    width: 500px;
    height: 610px;
}

.dxc-card-right {
    background-color: #B0C4DE;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 10px;
    color: #c8d2df;
    padding: 10px;
    display: inline-block;
    position: absolute;
    width: 950px;
    height: 610px;
}

.dxc-input-text {
    height: 40px;
    background-color: #2d2d2d /*#1B2531*/;
    border: 1px solid #384459;
    border-radius: 8px;
    width: 100%;
    color: #c8d2df;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 10px;
}

.dxc-input-text-phones{
    height: 40px;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    color: #c8d2df;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 10px;
}

.dxc-input-date {
    height: 40px;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 10px;
    color: #c8d2df;
}

.dxc-input-hora {
    height: 40px;
    width: 90px;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    padding: 5px 20px;
    font-size: 18px;
    margin-top: 10px;
    color: #c8d2df;
}

.dxc-select-tentativas {
    height: 40px;
    width: 250px;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    padding: 0 20px;
    font-size: 18px;
    margin-top: 10px;
    color: #c8d2df;
}

.dxc-label {
    height: 40px;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    color: #c8d2df;
    padding: 5px 20px;
    font-size: 18px;
    margin-top: 10px;
}
.dxc-label2{
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    color: #c8d2df;
    padding: 5px 20px;
    font-size: 18px;
    margin-top: 10px;
}

.dxc-label3{
    border-radius: 8px;
    color: #384459;
    font-size: 18px;
}

.dxc-input-text-cardRight{
    height: 60px;
    width: 100%;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    color: #c8d2df;
    padding: 5px 20px;
    font-size: 18px;
    margin-bottom: 15px;
}

/************************************** inicio CSS Botão ************************************************/
.btnGerar {
    background-color: #2d2d2d;
    padding: 20px 12px;
    border-radius: 8px;  
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;   
    color: #9AAABE;
  }

  .btnGerar:hover {
    cursor: pointer;
    color: #fff;
    border-color: #269abc;
  }

  .btnGerar-info:hover, .btnGerar-info:focus{
    color: #fff;
  }

  /************************************** Fim CSS Botão ************************************************/

.div-texto1{
    width: 260px;
    margin-right: 25px;
    display: inline-block;   
}

.div-texto2{
    width: 600px;
    display: inline-block;
}
.div-texto3{
    width: 800px;
}
.div-texto4{
    width: 900px;
}

.texto1 {
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    width: 100%;
    color: #c8d2df;
    height: 40px;
    resize: none;
    display: inline;
}

.texto2 {
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    width: 100%;
    color: #c8d2df;
    height: 80px;
    resize: none;
}

.texto3 {
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    width: 100%;
    color: #c8d2df;
    height: 60px;
    resize: none;
}

.texto4 {
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    width: 100%;
    color: #c8d2df;
    height: 260px;
    resize: none;
}

.copyButton {
    float: right;
    cursor: pointer;
    font-size: 18px;
    background-color: #2d2d2d;
    border: 1px solid #384459;
    border-radius: 8px;
    color: #c8d2df;
    padding: 0 12px;
}
.dxc-poisition-right{
    float: right;
}


